
body {
  background-color: rgb(179, 227, 249);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.container {
  background-color: rgb(36, 129, 211);
  max-width: 320px;
  max-height: 550px;
  margin: 0 auto;
  text-align: center;
  padding-top: 14px;
  border-radius: 20px;
  transform: translateY(20%);
}


.container img {
  max-width: 280px;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

h2, p {
  padding-left: 20px;
  padding-right: 20px;
}
.attribution {
  position: relative;
  top: 50px;
}

