
body {
  background-color: rgb(179, 227, 249);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.container {
  background-color: aliceblue;
  max-width: 350px;
  height: 550px;
  margin: auto;
  text-align: center;
  padding-top: 14px;
  border-radius: 20px;
  transform: translateY(20%);
}


.container img {
  max-width: 320px;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

h2, p {
  padding-left: 20px;
  padding-right: 20px;
}
.attribution {
  position: relative;
  top: 50px;
}

@media (min-width: 1920px) {
  .container {
    transform: translateY(50%);
  }
}

@media (max-width: 414px) {
  .container {
    margin: 0;
    max-width: 300px;
    transform: translateY(0%);
  }
  .container img {
    max-width: 280px;
  }

  .attribution {
    position: relative;
    top: 80px;
  }
}